@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  padding: 0;
}
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  section{
    margin-top: 130px;
  }
  /* Dark 01 */
  .text-dark{
    color: #131313;
  }
  /* dark 02 */
  .text-grey{
    color: #424242;
  }
  /* dark 03 */
  .text-light-grey{
    color: #727272;
  }

  /* display flex */
  .display-flex{
    display: flex;
  }
  /* background-color */
  .bg-light{
    background: rgba(255, 144, 14, 0.1);
  }
  /* button primary */
  .btn-primary{
    background: #FF900E;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight:600;
    padding: 20px 25px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  .title{
    font-size: 4rem;
    font-weight: bold;
    margin:50px 20px 0 0;
  }
  .nav, .banner, main ,footer{
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav, .banner, main{
    padding: 0 20px;
  }
  .nav{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: bold;
    font-size: 45px;    
  }
  .nav-items{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .nav-link{
    text-decoration: none;
  }

  /* banner area */
  .text-part{
    max-width: 868px;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 40px;
  }
  .describe{
    font-weight: 400;
    font-size: 1rem;
  }
  .image-part>img{
    width: 100%;
    margin-bottom: 20px;
  }
/* features relatate styles */
.features-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.features{
  align-items: center;
}
.features-list{
  margin-left: 100px;
  max-width: 540px;
}
.features-title{
  font-size: 2.8rem;
  margin-bottom: 20px;
}
#span-3{
  color:#FF900E;
}
/* features styles will be here */
.features-products{
  flex: 1;
}
#features-products-title{
  border-left: 5px solid #FF900E;
  font-size: 2.5rem;
  padding: 0 20px;
}
.features-products-text{
  margin-right: 130px;
}
.features-card{
  padding: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  text-align: justify;
}
.features-card-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
#experience-batch{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -90px;
  margin-top: -130px;
  opacity: 0.8;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
/* some facts areas styles */
.facts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 100px 0;
}
.fact{
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}
.fact-number{
  font-size: 2.8rem;
  font-weight:600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-describe{
  max-width: 540px;
}
.footer{
  margin-top: 130px ;
  margin-bottom: 50px;
  margin: 130px 20px 50px 20px;
  padding: 15px 0;
  text-align: center;
}
.footer> h5{
  font-size: 1.25rem;
  font-weight: 400;
}
/* sponsors relatate styles */
.sponsors{
  text-align: center;
}
.sponsors-image{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 50px;
}
  /* responsive the website for the smallest device */
  @media screen and (max-width: 576px) {
    section{
      margin-top: 50px;
    }
    /* responsive for the nav and banner*/
    
    .nav, .nav-links{
      flex-direction: column;
      text-align: center;
    }
    .brand{
      margin-bottom: 10px;
    }
    .nav-items{
      margin-bottom: 10px;
      font-size: 2rem;
    }
    .title{
      font-size: 3rem;
    }
    /* styles for the features sectiom */
    
    .features-image{
      grid-template-columns: repeat(1, 1fr);
    }
    .features{
      flex-direction: column;
    }
    .features-image > img{
      max-width: 90%;
      margin: 0 auto;

    }
    .features-list {
      margin-left: 0;
      text-align: center;
      padding: 10px;
    }
    /* features products relatate style */
    .features-products{
      flex-direction: column;
    }
    .features-products-text{
      margin-right: 0;
      margin-bottom: 70px;
    }
    .features-prodcuts-image >img{
      width: 100%;
    }
    #experience-batch{
      margin-top: 20px;
      margin-left: 0;
    }


    /* some facts relatate styles */
    .facts {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      justify-items: center;
      margin: 50px 0;
    }
    .fact{
      border: 1px solid green;
      width: 180px;
      height: 180px;
    }
    .fact-describe{
      max-width: auto;
    }

    /* sponsor relate styles will be here */
    .sponsors-image{
      display: grid;
      grid-template-columns: repeat(2, auto) ;
      gap: 20px;
    }
    .brand-sponsor-5{
      grid-column: 1 / span 2;
    }
    

    /* footer styles */
    .footer{
      margin-top: 50px;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 992px) {
    section{
      margin-top: 80px;
      padding: 0 20px;
    }
    .nav, .banner, main{
      padding: 0 40px;
    }
    .nav, .nav-links{
      flex-direction: column;
      text-align: center;
    }
    .brand{
      margin-bottom: 10px;
    }
    .nav-items{
      margin-bottom: 10px;
      font-size: 2rem;
    }
    .title{
      font-size: 3rem;
      margin-top: 20px;
    }
    .features{
      flex-direction: column;
    }
    .features-list {
      margin-left: 0;
      text-align: center;
      max-width: none;
    }
    .features-image{
      grid-template-columns: repeat(1, 1fr);
    }
    /* features product relatate styles */
    .features-products{
      flex-direction: column;
    }
    .features-products-text{
      margin-right: 0;
      margin-bottom: 70px;
    }
    .features-products-image img{
      width: 100%;
    }
    #experience-batch{
      margin-top: 20px;
      margin-left: 0;
    }
    .facts{
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-top: 50px;
    }
    .sponsors-image{
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .footer{
      margin: 50px 40px 0px 40px ;
    }
}
  
    